<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="Numb" filename="UserLog/info.txt">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="INFO"/>
            </Filters>
        </File>
        <File name="Result" filename="UserResult/warn.txt">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="WARN"/>
            </Filters>
        </File>
        <File name="Time" filename="UserTime/error.txt">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="ERROR"/>
            </Filters>
        </File>
    </Appenders>
    <Loggers>
        <root level="debug">
            <AppenderRef ref="Numb" level="info"/>
            <AppenderRef ref="Time" level="error"/>
            <AppenderRef ref="Result" level="warn"/>
        </root>
    </Loggers>
</Configuration>